.background-dark-blue {
	background-color: var(--c-dark-blue);
}

.background-teal {
	background-color: var(--c-teal);
}

.background-teal-darker {
	background-color: var(--c-teal-darker);
}

.background-yellow {
	background-color: var(--c-yellow);
}

.background-yellow-lighter {
	background-color: var(--c-yellow-lighter);
}

.background-white {
	background-color: var(--c-white);
}

.background-red {
	background-color: var(--c-red);
}

.background-black {
	background-color: var(--c-black);
}
