.background-curved-bottom {
	margin-bottom: 40px;
	padding-bottom: 40px !important;
	position: relative;
	z-index: 1;

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 125%;
		background-color: var(--bg-color);
		// background-color: orange;
		height: 80px;
		border-radius: 0 0 50% 50% / 0 0 100% 100%;
		transform: translateX(-50%) translateY(80px);
		z-index: 0;
	}

	// when a section is directly after a curved bottom section, add margin and padding to the section
	& + section {
		margin-top: -40px;
		padding-top: 140px !important;
		z-index: 0;

		@include media-breakpoint-down(xl) {
			padding-top: 90px !important;
		}
	}
}

.has-curved-section-above {
	margin-top: -40px;
	padding-top: 140px !important;
	z-index: 0;

	@include media-breakpoint-down(xl) {
		padding-top: 90px !important;
	}
}

.background-dark-blue {
	background-color: var(--c-dark-blue);
	--bg-color: var(--c-dark-blue);
}

.background-blue-light {
	background-color: var(--c-blue-light);
	--bg-color: var(--c-blue-light);
}

.background-blue-lighter {
	background-color: var(--c-blue-lighter);
	--bg-color: var(--c-blue-lighter);
}

.background-teal {
	background-color: var(--c-teal);
	--bg-color: var(--c-teal);
}

.background-teal-darker {
	background-color: var(--c-teal-darker);
	--bg-color: var(--c-teal-darker);
}

.background-yellow {
	background-color: var(--c-yellow);
	--bg-color: var(--c-yellow);
}

.background-yellow-lighter {
	background-color: var(--c-yellow-lighter);
	--bg-color: var(--c-yellow-lighter);
}

.background-white {
	background-color: var(--c-white);
	--bg-color: var(--c-white);
}

.background-red {
	background-color: var(--c-red);
}

.background-black {
	background-color: var(--c-black);
	--bg-color: var(--c-black);
}

/* Patterns */

/* Graphic Dividers */
.background-divider-squares {
	background-image: url("../img/graphic-divider-squares.webp");
	background-repeat: repeat-x;
	height: 76px;
}

.background-divider-circles {
	background-image: url("../img/graphic-divider-circles.webp");
	background-repeat: repeat-x;
	height: 116px;
}

.background-pattern-circle-row-top {
	background-image: url("../img/3-circle.svg");
	background-repeat: repeat-x;
	background-position: 2px 2px;
	background-size: calc(24px + 2px) 76px; // 24px SVG width + 2px gap
}

.background-pattern-circle-row-bottom {
	background-image: url("../img/3-circle.svg");
	background-repeat: repeat-x;
	background-position: 2px bottom;
	background-size: calc(24px + 2px) 76px; // 24px SVG width + 2px gap
}

.background-pattern-cubes {
	background-image: url("../img/pattern-cubes-light-blue.svg");
	background-size: 262px 840px;
	background-repeat: no-repeat;
}

.background-pattern-cubes-reverse {
	background-image: url("../img/pattern-cubes-light-blue-reverse.svg");
	background-size: 262px 840px;
	background-repeat: no-repeat;
}

.background-pattern-diamond {
	background-image: url("../img/diamond-pattern.svg");
	background-repeat: repeat;
	background-size: contain;
	background-position: center;
	// background-size: var(--bg-img-width) var(--bg-img-height);
}

.background-pattern-red-dots {
	background-image: url("../img/red-dots-pattern.svg");
	background-repeat: no-repeat;
	background-size: var(--bg-img-width) var(--bg-img-height);
}

.background-pattern-stripe-circle {
	background-image: url("../img/half-circle-stripe-pattern.svg");
	background-repeat: no-repeat;
	background-size: var(--bg-img-width) var(--bg-img-height);
}

.background-pattern-stripe-circle-dark {
	background-image: url("../img/half-circle-stripe-pattern-dark.svg");
	background-repeat: no-repeat;
	background-size: var(--bg-img-width) var(--bg-img-height);
}

.background-pattern-circle-dot {
	background-image: url("../img/circle-dot.svg");
	background-repeat: no-repeat;
	background-size: var(--bg-img-width) var(--bg-img-height);
}

.background-position-right-center-offscreen {
	background-position: top 50% right -40px;
}

.background-position-left-bottom-offscreen {
	background-position: bottom 100px left -100px;
}

.background-position-left-top-offscreen {
	background-position: top calc((var(--bg-img-height) / 2) * -1) left calc((var(--bg-img-width) / 2) * -1);
	//background-size: var(--bg-img-width) var(--bg-img-height);
}

.background-position-right-bottom-offscreen {
	background-position: bottom calc((var(--bg-img-height) / 2) * -1) right calc((var(--bg-img-width) / 2) * -1);
	//background-size: var(--bg-img-width) var(--bg-img-height);
}

/* Background positioning */

.background-pattern-right {
	background-position: bottom 0 right 0;
}

.background-pattern-left {
	background-position: bottom 0 left 0;
}

/* Hide horizontal scrollbar globally */
html,
body {
	overflow-x: hidden;
}
