.background-dark-blue {
	background-color: var(--c-dark-blue);
}

.background-blue-light {
	background-color: var(--c-blue-light);
}

.background-teal {
	background-color: var(--c-teal);
}

.background-teal-darker {
	background-color: var(--c-teal-darker);
}

.background-yellow {
	background-color: var(--c-yellow);
}

.background-yellow-lighter {
	background-color: var(--c-yellow-lighter);
}

.background-white {
	background-color: var(--c-white);
}

.background-red {
	background-color: var(--c-red);
}

.background-black {
	background-color: var(--c-black);
}

/* Patterns */

.background-pattern-cubes {
	background-image: url("../img/pattern-cubes-light-blue.svg");
	background-size: var(--bg-img-width) var(--bg-img-height);
	background-repeat: no-repeat;
}

.background-pattern-diamond {
	background-image: url("../img/diamond-pattern.svg");
	background-repeat: repeat;
	background-size: contain;
	background-position: center;
	// background-size: var(--bg-img-width) var(--bg-img-height);
}

.background-pattern-red-dots {
	background-image: url("../img/red-dots-pattern.svg");
	background-repeat: no-repeat;
	background-size: var(--bg-img-width) var(--bg-img-height);
}

.background-pattern-stripe-circle {
	background-image: url("../img/half-circle-stripe-pattern.svg");
	background-repeat: no-repeat;
	background-size: var(--bg-img-width) var(--bg-img-height);
}

.background-pattern-stripe-circle-dark {
	background-image: url("../img/half-circle-stripe-pattern-dark.svg");
	background-repeat: no-repeat;
	background-size: var(--bg-img-width) var(--bg-img-height);
}

.background-pattern-circle-dot {
	background-image: url("../img/circle-dot.svg");
	background-repeat: no-repeat;
	background-size: var(--bg-img-width) var(--bg-img-height);
}

.background-position-right-center-offscreen {
	background-position: top 50% right -40px;
}

.background-position-left-bottom-offscreen {
	background-position: bottom 100px left -100px;
}

.background-position-left-top-offscreen {
	background-position: top calc((var(--bg-img-height) / 2) * -1) left calc((var(--bg-img-width) / 2) * -1);
	//background-size: var(--bg-img-width) var(--bg-img-height);
}

.background-position-right-bottom-offscreen {
	background-position: bottom calc((var(--bg-img-height) / 2) * -1) right calc((var(--bg-img-width) / 2) * -1);
	//background-size: var(--bg-img-width) var(--bg-img-height);
}

/* Background positioning */

.background-pattern-right {
	background-position: bottom 0 right -90px;
}

.background-pattern-left {
	background-position: bottom 0 left -90px;
}
