.offscreen-slider {
	overflow: hidden;

	@include media-breakpoint-down(xl) {
		padding: 50px 0;
	}
	.card {
		border-radius: 10px;
		border: none;
		.card-body {
			padding: 70px 50px;

			@include media-breakpoint-down(xl) {
				padding: 40px 20px;
			}
		}
	}
}

// position a before element on top to cover up the cards moving off screen to left side
.offscreen-right-slider {
	.container {
		position: relative;
		&:before {
			content: "";
			height: 100%;
			width: 600px;
			background-color: var(--c-background, red);
			position: absolute;
			z-index: 10;
			left: -573px;
			top: 0;
			bottom: 0;
		}
	}
}
