section {
	position: relative;

	.badge {
		position: absolute;
		top: 15px;
		left: 10px;
		z-index: 2;
	}
}

html {
	position: relative;
}

.dev-mode {
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: var(--bs-danger);
	color: #fff;
	padding: 10px 20px;
	z-index: 9999;
	border-top-left-radius: 8px;

	input[type="checkbox"]:checked ~ label {
		display: none;
	}
}
