.faq {
	background: linear-gradient(
		to right,
		var(--c-teal-darker) 0%,
		var(--c-teal-darker) 50%,
		var(--c-white) 50%,
		var(--c-white) 100%
	);

	position: relative;

	.details-inner {
		padding-top: 20px;
	}

	.bleed-img {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 1493px;
		max-width: none;
		z-index: 0;
		pointer-events: none;
	}

	.col-lg-4 {
		position: relative;
		overflow: visible;
	}

	.col-left {
		.content-inner {
			padding-right: 50px;
		}
	}

	.col-right {
		.content-inner {
			padding-left: 50px;
		}
	}
}

@supports (contain: paint) and (interpolate-size: allow-keywords) {
	:root {
		interpolate-size: allow-keywords;
	}

	details {
		border-bottom: 1px solid var(--c-teal-darker);
		padding: 36px 0;
		overflow: hidden;

		&::details-content {
			block-size: 0;
			transition: block-size 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
				content-visibility 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
			transition-behavior: allow-discrete;
			will-change: block-size;
		}

		&:open::details-content {
			block-size: auto;
		}
	}
}

details {
	border-bottom: 1px solid var(--c-teal-darker);
	padding: 36px 0;
	overflow: hidden;

	/* don't add margin/padding to this, add it to the actual
   stuff inside the details content */

	// example: https://codepen.io/nikibrown/pen/wBKdbyd
	// &::details-content {
	// 	block-size: 0;
	// 	transition: block-size 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
	// 		content-visibility 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	// 	transition-behavior: allow-discrete;
	// 	will-change: block-size;
	// }

	// &:open::details-content {
	// 	block-size: auto;
	// }

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}

	summary {
		color: var(--c-dark-blue);
		font-weight: bold;
		font-size: 22px;
		line-height: 28px;
		list-style: none;
		position: relative;
		cursor: pointer;
		padding-right: 30px;

		&::after {
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			width: 24px;
			height: 24px;
			background-image: url("../img/closed-question.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			transition: background-image 0.2s ease;
		}
	}

	&[open] summary {
		//margin-bottom: 20px;
	}

	&[open] summary::after {
		background-image: url("../img/open-question.svg");
	}
}

.accordion-icon {
	summary {
		display: flex;
		align-items: center;
		gap: 40px;
		@include media-breakpoint-down(lg) {
			flex-direction: column;
			align-items: center;
			gap: 20px;
		}
	}

	.details-inner {
		padding-left: 90px;
		@include media-breakpoint-down(lg) {
			padding-left: 0;
		}
	}
}
