body .gform_wrapper input[type="text"],
body .gform_wrapper input[type="email"],
body .gform_wrapper input[type="tel"],
body .gform_wrapper textarea,
body .gform_wrapper select {
	background-color: var(--c-white) !important;
	border-radius: 10px !important;
	border: 2px solid #d1d3d4 !important;
	padding: 8px 16px;
	&:focus {
		outline: none !important;
		border-color: darken(#d1d3d4, 20%) !important;
	}
}

body .gform_wrapper select {
	padding: 0 16px;
}

.form-section.full-bleed-25-75 {
	.gfield_label {
		@extend .text-light;
	}
}

.gform_required_legend {
	display: none;
}

body .gform_wrapper {
	.gfield_label {
		font-size: 18px;
		font-weight: 600;
	}
}

body .gform_wrapper input::placeholder,
body .gform_wrapper textarea::placeholder {
	color: #d1d3d4 !important;
	opacity: 1; // Ensures color is not faded in some browsers
}
