// For full bleed sections, we need to remove padding from .container or width from .container and add the padding into the columns so when the columns stack we can just use background color and hide the background gradient from outer div

// possibly use container fluid? these needs to have classes of .col-lg-6 col-md-6 to make the stacking happen at 788px
.full-bleed {
	.col-inner {
		// padding: 80px;
	}

	@include media-breakpoint-down(md) {
		.container {
			// set max width for medium and down so theres no extra space on the sides and background colors can span full width
			max-width: 100%;
		}

		.col-inner {
			//padding: 20px;
		}
	}
}

// background gradients
.full-bleed-25-75 {
	background: linear-gradient(to right, var(--c-left) 0%, var(--c-left) 50%, var(--c-right) 50%, var(--c-right) 100%);
}

.full-bleed-75-25 {
	background: linear-gradient(to right, var(--c-left) 0%, var(--c-left) 50%, var(--c-right) 50%, var(--c-right) 100%);
}

.full-bleed-50-50 {
	background: linear-gradient(to right, var(--c-left) 0%, var(--c-left) 50%, var(--c-right) 50%, var(--c-right) 100%);
}

.full-bleed-25-75,
.full-bleed-75-25 {
	@include media-breakpoint-down(lg) {
		background: none;
	}

	.col-left {
		background-color: var(--c-left);
	}

	.col-right {
		background-color: var(--c-right);
	}

	@include media-breakpoint-down(lg) {
		.container {
			padding-left: 0;
			padding-right: 0;
			max-width: 100%;
		}

		.row {
			margin-left: 0;
			margin-right: 0;
		}

		.col-inner {
			padding-left: 2rem !important;
			padding-right: 2rem !important;
		}
	}
}

.full-bleed-50-50 {
	background: linear-gradient(to right, var(--c-left) 0%, var(--c-left) 50%, var(--c-right) 50%, var(--c-right) 100%);

	@include media-breakpoint-down(lg) {
		background: none;
	}

	.col-left {
		background-color: var(--c-left);
		background-image: var(--col-left-bg); // this comes from the ACF field inline style
		background-repeat: no-repeat;
		background-position: right top;
		background-size: 90px 100%;

		&.has-bg-left {
			.col-inner {
				// add more padding to the left
				padding-left: 4rem;
			}
		}

		&.has-bg-right {
			.col-inner {
				// add more padding to the right
				padding-right: 4rem;
			}
		}
	}

	.col-right {
		background: var(--c-right);
	}

	@include media-breakpoint-down(lg) {
		.container {
			padding-left: 0;
			padding-right: 0;
			max-width: 100%;
		}

		.row {
			margin-left: 0;
			margin-right: 0;
		}

		.col-inner {
			padding-left: 2rem;
			padding-right: 2rem;
		}

		.col-left {
			background-size: 90px 100%;
			background-repeat: no-repeat;
			background-position: right top;
		}
	}
}
