.logo-banner {
	overflow-x: hidden;
}

.marquee-wrapper {
	display: flex;
	width: max-content;
}

.animate-marquee,
.animate-marquee2 {
	display: flex;
	//gap: 30px;
	@extend .gap-4;
	white-space: nowrap;
	flex-shrink: 0;
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}

/* Single animation for the wrapper containing both marquees */
.marquee-wrapper {
	animation: marquee 25s linear infinite;
}
