.logo-banner {
	overflow-x: hidden;
}

.marquee-wrapper {
	display: flex;
	width: max-content;
	animation: marquee var(--slider-speed) linear infinite;
	animation-delay: -0.1s; // Small delay to smooth the transition
}

.animate-marquee {
	display: flex;
	gap: 100px;
	white-space: nowrap;
	flex-shrink: 0;
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%); // Move half the total width
	}
}
