.navbar {
	// show dropdown menu on hover vs click
	@media all and (min-width: 992px) {
		.nav-item {
			.dropdown-menu {
				display: none;
				margin-top: 0;
			}

			&:hover {
				.dropdown-menu {
					display: block;
				}
			}
		}
	}
}

// toggle navbar with checkbox - style as needed
@media all and (max-width: 992px) {
	.navbar-toggler:checked ~ #navbarSupportedContent {
		display: block !important;
	}
}
