.section-pattern-diamond {
	background-color: var(--c-dark-blue);
	background-image: url("../img/diamond-pattern.svg");
	background-repeat: repeat;
	background-size: contain;
	background-position: center;
}

.section-bg-dark {
	color: var(--c-white);
}

.section-dark-blue {
}

.section-dark-teal {
}

.section-light-teal {
}

.section-tan {
}

.section-white {
}

.section-card-inner {
}

.card {
}
