.stats-section {
	.stat-card {
		background-color: var(--c-blue-lighter);
		border: none;
		padding: 20px;

		@include media-breakpoint-down(md) {
			text-align: center;
		}

		.stat-card-title {
			font-size: 40px;
			position: relative;
			margin-bottom: 30px;

			.number-flow {
				position: relative;
				&:after {
					position: absolute;
					bottom: -15px;
					left: 0;
					content: "";
					width: 60px;
					height: 2px;
					background-color: var(--after-color);
				}
			}

			&.text-dark-blue {
				color: var(--c-dark-blue);
				--after-color: var(--c-dark-blue);
			}

			&.text-teal {
				color: var(--c-teal);
				--after-color: var(--c-teal);
			}

			&.text-teal-darker {
				color: var(--c-teal-darker);
				--after-color: var(--c-teal-darker);
			}

			&.text-yellow {
				color: var(--c-yellow);
				--after-color: var(--c-yellow);
			}

			&.text-red {
				color: var(--c-red);
				--after-color: var(--c-red);
			}
		}
	}

	.stats-section-right {
		background: linear-gradient(
			to right,
			var(--c-left) 0%,
			var(--c-left) calc(100% * 2),
			var(--c-right) calc(100% * 2),
			var(--c-right) 100%
		);
		@include media-breakpoint-down(lg) {
			background: none;
		}

		.col-left {
			background-color: var(--c-left);
		}

		.col-right {
			background-color: var(--c-right);
		}

		@include media-breakpoint-down(lg) {
			.container {
				padding-left: 0;
				padding-right: 0;
				max-width: 100%;
			}

			.row {
				margin-left: 0;
				margin-right: 0;
			}

			.col-inner {
				padding-left: 2rem !important;
				padding-right: 2rem !important;
			}
		}
	}
}
