@include media-breakpoint-up(xl) {
	.container,
	.container-sm,
	.container-md,
	.container-lg,
	.container-xl {
		max-width: 1180px !important;
	}
}

.container {
	padding-left: 2rem;
	padding-right: 2rem;
}
