@include media-breakpoint-up(xl) {
	.container,
	.container-sm,
	.container-md,
	.container-lg,
	.container-xl {
		max-width: 1304px !important;
	}
}

.container {
	padding-left: 2rem;
	padding-right: 2rem;
}

section:not([class^="full-bleed"]) {
	// when columns stack, add gap to .row
	// TODO: add exceptions for full-bleed columns
	@include media-breakpoint-down(lg) {
		.row {
			gap: 25px;
		}
	}
}
