.text-banner {
	padding: 100px 0;

	.text-banner-text-content {
		margin-bottom: 30px;
		@include media-breakpoint-down(xl) {
			margin-bottom: 15px;
		}
	}

	@include media-breakpoint-down(xl) {
		padding: 50px 0;
	}
}
