$brand-font: "Poppins", sans-serif;

#tinymce {
	padding: 30px;
}

.mce-colorbutton .mce-grid td {
	background-color: transparent !important;
	height: 20px !important;
	width: 20px !important;
	border: 1px solid #ddd !important;
}

.mce-colorbutton .mce-grid td span {
	display: block !important;
	height: 18px !important;
	width: 18px !important;
}

.mce-grid.mce-grid-border.mce-colorbutton-grid tbody tr:nth-last-child(-n + 2) {
	display: none !important;
}

html,
body {
	font-weight: 400;
	font-size: 18px;
}

h1 {
	font-weight: 700;
}
h2,
h3,
h4 {
	font-weight: 600;
}

h2 {
	color: var(--c-dark-blue);

	.text-light & {
		color: var(--c-white) !important;
	}

	@include media-breakpoint-down(md) {
		br {
			display: none;
		}
	}
}

strong {
	font-weight: 600;
	color: var(--c-teal-darker);
}

article {
	h1 {
		color: var(--c-dark-blue);
	}
	h2 {
		color: var(--c-dark-blue);
	}

	h3 {
		color: var(--c-teal);
	}
}

#article-content {
	border-top: 15px solid var(--c-dark-blue);
}

.lead {
}

main a:not(.btn) {
	color: var(--c-teal-darker);
	transition: color 0.3s ease-in-out;
	&:hover {
		color: darken(#007481, 10%);
	}
}

.poppins-regular {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.poppins-semibold {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.poppins-bold {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.poppins-regular-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: italic;
}

.poppins-semibold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: italic;
}

.poppins-bold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: italic;
}
