$base-spacing-unit: 20px;

:root {
	--c-dark-blue: #003c71;
	--c-dark-blue2: #00366a;
	--c-blue-light: #bfcedb;
	--c-blue-lighter: #f2f5f8;
	--c-teal: #00b4ad;
	--c-teal-lighter: #e5f7f7;
	--c-teal-darker: #007481;
	--c-yellow: #faa400;
	--c-yellow-lighter: #feedcc;
	--c-white: #fff;
	--c-red: #f42534;
	--c-black: #000;
}

// Bootstrap font customization variables
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

// Set the base font family to match your brand font
$font-family-base: "Poppins", sans-serif;

// Set the base font size (default is 1rem = 16px)
$font-size-base: 1.125rem; // 18px

// Set the base line height
$line-height-base: 1.5;

// Custom scalable display font sizes using clamp() for responsiveness
// These values will scale between a minimum and maximum size based on viewport width

$h1-font-size: clamp(2.222rem, 2vw + 2rem, 3.611rem); // 40px–65px
$h2-font-size: clamp(1.333rem, 1vw + 1rem, 1.889rem); // 24px–34px
$h3-font-size: clamp(1.111rem, 0.5vw + 1rem, 1.333rem); // 20px–24\px
$h4-font-size: clamp(1rem, 0.5vw + 0.5rem, 1.222rem); // 18px–22px

// To override Bootstrap's heading sizes, make sure these variables are defined before Bootstrap is imported.
